{% extends "template.html" %} {% block body %}
<head>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<br><br><br>
	<center>
		<br><br><br>
		<h3 id="abh">
		About Us
	</h3>
	</center>
	<p id="abp">
		<span>
	      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Our Jobby Portal is just trying to keep our user more effective on their work.  This application will help the jobseeker to find a perfect job for them and a recruiter to find suitable candiate. Each and application will be processed carefully and sensitive data will be handle privately. Our customers's data privacy is our topmost priority. And chatbot also provided to help the jobseeker to be recommended a skill to learn
	    <span>
    </p>

    <ul id="abul">
    	<center>
    	<li><i class="fa fa-envelope" aria-hidden="true"></i></li>
    	<li><i class="fa fa-whatsapp" aria-hidden="true"></i></li>
    	<li><i class="fa fa-twitter" aria-hidden="true"></i></li>
    	<li><i class="fa fa-instagram" aria-hidden="true"></i></li>
    	</center>
    </ul>

    <footer>
        <center>
            Copyright @ Jobby 2022
        </center>
    </footer> 
</body>
<style type="text/css">
	body{
		background-color: white;
		overflow-y: hidden;
	}
	#abh{
		padding-top: 15px;
		font-size: 30px;
	   background-color:#04aec4;
	   height: 50px;
	   color: white;
	}
	#abp{
		font-size: 20px;
		color: black;
		width:1450px;
		margin-left: 20px;
	}
	footer{
		margin-top: 340px;
	}
	#abul{
		margin-top: 150px;
		margin-left: 515px;
	}
	#abul li{
		padding-left: 50px;
        list-style-type: none;
		float:left;
		font-size: 40px;
		color: #04aec4;
	}
</style>
{% endblock %}
