<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h3>Login</h3>
    <form method="POST">
      <input type="email" name="email" placeholder="Email" required />
      <input type="password" name="password" placeholder="Password" required />
      <button type="submit">Login</button>
    </form>
    <p>{{success}}</p>
    <p style="color: red">{{error}}</p>

    <a href="/register">Don't have an account? Register</a>
  </body>
</html>
<style type="text/css">
  body{
    background-color: grey;
	color:white;
  }
  h3{
    margin-top: 150px;
    font-size: 40px;
  }
  form{
    margin-top: 10px;
  }
  input{
    outline: none;
    border: none;
	color:black;
    border-radius: 3px;
    margin-top: 10px;
    width: 250px;
    height: 30px;
  }
  button{
    margin-top: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;

  }